.wrapper{
    padding: 10px;
}


img{
    max-width: 150px;
    max-height: 200px;
}

.title{
    font-size: 1.75em;
}

#input1{
    width: 400px;
    padding: 10px; 
    border-radius: 10px;
    font-size: 1.5rem;
}